@model IEnumerable<Portal.Domain.Models.ApplicationUser>

@foreach (var user in Model)
{
    <p><a class="btn btn-link" asp-page="/chat/user" asp-route-username="@user.UserName">@user.UserName</a></p>
}
@*<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            @foreach (var item in Model)
            {
                <a class="nav-link" id="v-pills-@item.UserName-tab" data-toggle="pill" href="#v-pills-@item.UserName" role="tab">@item.UserName</a>
            }


        </div>
    </div>
    <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
            @foreach (var item in Model)
            {
                <div class="tab-pane fade" id="v-pills-@item.UserName" role="tabpanel">
                    
                    <div class="form-inline">
                        <input type="text" class="form-control" placeholder="Chat with @item.UserName Here..." />
                        <button class="btn btn-primary">Send</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>*@