
<div class="list-group ">

    <a asp-page="admin/index" class="list-group-item list-group-item-action active">
        Admin
    </a>

    <a asp-page="/admin/users/index" class="list-group-item list-group-item-action">Users</a>
  
</div>
